<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('../../html/MainHead') %>

        <title>Empresa::Home</title>
</head>

<body>

    <%- include('../../html/MainMenu') %>
        <%- include('../../html/MainHeader') %>

            <div class="br-mainpanel">
                <div class="br-pageheader pd-y-15 pd-l-20">
                    <nav class="breadcrumb pd-0 mg-0 tx-12">
                        <a class="breadcrumb-item" href="#">Home</a>

                    </nav>
                </div>
                <!-- <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
                    <h4 class="tx-gray-800 mg-b-5">Home</h4>
                    <p class="mg-b-0">Pantalla Home</p>
                </div> -->

                <div class="br-pagebody">


                    <div class="">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card text-center p-3">
                                    <h5 class="card-title"  >Finalizados</h5>
                                    <h2 class="fw-bold text-primary" id="finalizados"></h2>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-center p-3">
                                    <h5 class="card-title" >Cancelados</h5>
                                    <h2 class="fw-bold text-danger" id="cancelados"></h2>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card text-center p-3">
                                    <h5 class="card-title" >Anulados</h5>
                                    <h2 class="fw-bold text-warning" id="anulados"></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <%- include('../../html/MainJs') %>



            <script src="/js/custom/usuHomeRecepcionista.js"></script>


            

</body>

</html>